<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django-1st-pro</title>
  <link rel="stylesheet" href="services_sytle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- {% block css %}  {% endblock%} -->
</head>
<body>
  <header class="sv-header">
    <a href="/services/"><p>Servicese</p></a>
    <nav>
      <ul>
        <li>Home</li>
        <li>Play</li>
      </ul>
    </nav>
  </header>

  <div class="sv-content">
    <aside class="sv-aside">
      <div class="sv-dropdown">
        <div class="sv-dropdown-menu">
            Pages
        </div>
        <div class="sv-dropdown-item">
          <a href="">Ping</a>
          <a href="">Signup</a>
          <a href="">Movie</a>
        </div>
      </div>
      <div class="sv-dropdown">
          <div class="sv-dropdown-menu">
              Services
          </div>
          <div class="sv-dropdown-item">
            <a href="">Artii</a>
            <a href="">Pull</a>
            <a href="">Movie</a>
          </div>
        </div>
        <div class="sv-dropdown">
          <div class="sv-dropdown-menu">
              Menu
          </div>
          <div class="sv-dropdown-item">
            <a href="">Item1</a>
            <a href="">Item2</a>
            <a href="">Item3</a>
          </div>
        </div>
    </aside>

    <section class="sv-section">
      <!-- {% block body %}
      {% endblock %} -->
    </section>
  </div>

  <footer class="sv-footer">
    ©EHwoo
  </footer>




  
  <script src="https://kit.fontawesome.com/f7a84a7607.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>